/.gwt
/.gwt-tmp
/build
/build-external
/build-xtend-gen
/build-test
/codeServerTemp
/dist
/gwt-unitCache
/landscapeRepository
/reports
/test-classes
/tomcat
/war/explorviz
/war/WEB-INF/lib/ExplorViz.jar
/war/WEB-INF/deploy/explorviz
/war/WEB-INF/classes
/xtend-gen/explorviz
/war/Usertracking.log
Thumbs.db