#expSlider {
    display: inline-block;
	right: -315;
    position: absolute;
	width: 350px;
	height: 300px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#expSliderLabel {
    display:inline-block;
    float:left;
    width: 10%;
    height: 70%;
	text-align: center;
	background: rgba(204, 204, 204, 0.8);
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
    font-family: verdana, sans-serif;
}

#expSliderInnerContainer {
	position: relative;
    display:inline-block;
    text-align: left;
	background: rgba(204, 204, 204, 0.8);
    width: 90%;
    height: 100%;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

.expRotate {
    white-space: nowrap;
	font-family: verdana, sans-serif;
	color: #000000;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#expSliderButton {
	width: 315px;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

.expLabels {
	font-weight: normal;
}

.expTextArea {
	resize: none;
}

.expScrollable {
	overflow: auto;
}

.expAnswer {
	margin-top: 5px;	
}

.container {
  display: block;
  width: 100%;
}

.expEntry {
  display: block;
  font-size: 1.3em;
}

.expRunning {
  display: block;
  font-size: 1.3em;
  background: lightgreen;
}

.expHeader {
  display: block;
  background: #b3b3b3;
  font-weight: bold;
  font-size: 1.3em;
}

.expElement {
  display: inline-block;
  width: 100px;
}

.expListButtons a{
  color: black;
  margin: 0px 5px 0px 5px;
  text-decoration: none;
}

.expEntry:nth-child(odd) { background: #F0F0F0; }

.expRemoveSpan:hover{
	text-decoration: none;
	color: red;
}
.expEditSpan:hover{
	text-decoration: none;
	color: orange;
}
.expPlaySpan:hover{
	text-decoration: none;
	color: green;
}

.expBlueSpan:hover{
	text-decoration: none;
	color: blue;
}

.expRemoveLinkCSS{
	text-decoration: none;
	color: black;
}


.expRemoveLinkCSS:hover{
	text-decoration: none;
	color: green;
}

.modal {
    top: 70px;
}