#expSlider {
	white-space: nowrap;
	position: fixed;
	right: 0;
	width: 35px;
	height: 150px;
	padding: 12px 0;
	text-align: center;
	background: rgba(204, 204, 204, 0.8);
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#expSliderInnerContainer {
	position: fixed;
	top: 40px;
	right: -350px;
	background: rgba(204, 204, 204, 0.8);
	width: 350px;
	padding: 25px;
	height: 75vh;
	text-align: left;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

.expRotate {
	font-family: verdana, sans-serif;
	color: #000000;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#expSaveBtn {
	position: absolute;
	bottom: 0;
	right: 0;
}

#expBackBtn {
	position: absolute;
	bottom: 0;
	left: 0;
}

.axis {
	font-size: 12px;
}

.chart {
	background-color: #FFFFFF;
	width: 960px;
	height: 500px;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

circle {
	fill: none;
	stroke: pink;
	stroke-width: 2px;
}

circle {
	fill: white;
	fill-opacity: 0.2;
}

circle.selected {
	fill: #ff7f0e;
	stroke: #ff7f0e;
}

circle:hover {
	r: 10;
	fill: #ff7f0e;
	stroke: #707f0e;
}

circle.selected:hover {
	fill: #ff7f0e;
	stroke: #ff7f0e;
}